<h2>Methods that were not run</h2><table>
<tr><td>tests.EndToEnd.productDetails<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Login -> PLP -> PDP -> Cart -> Checkout -> Order Confirmation</i></td></tr>
<tr><td>tests.EndToEnd.productDetails<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Login -> PLP -> PDP -> Cart -> Checkout -> Order Confirmation</i></td></tr>
</table>