<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9b7070">  <td>19/01/22 19:15:30</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;NewAvonWrapper.afterMethod()[pri:0, instance:tests.EndToEnd@1d29cf23]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@1952544560</td>   <td></td> </tr>
<tr bgcolor="9b7070">  <td>19/01/22 19:16:30</td>   <td>60425</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;NewAvonWrapper.afterMethod()[pri:0, instance:tests.EndToEnd@458c1321]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG-tests-2@1616855509</td>   <td></td> </tr>
<tr bgcolor="9b7070">  <td>19/01/22 19:16:30</td>   <td>60631</td> <td title="&lt;&lt;NewAvonWrapper.afterSuite()[pri:0, instance:tests.EndToEnd@458c1321]">&lt;&lt;afterSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@141289226</td>   <td></td> </tr>
<tr bgcolor="9b7070">  <td>19/01/22 19:15:31</td>   <td>897</td> <td>&nbsp;</td><td title="&lt;&lt;NewAvonWrapper.afterTest()[pri:0, instance:tests.EndToEnd@1d29cf23]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-1@1952544560</td>   <td></td> </tr>
<tr bgcolor="9b7070">  <td>19/01/22 19:16:30</td>   <td>60627</td> <td>&nbsp;</td><td title="&lt;&lt;NewAvonWrapper.afterTest()[pri:0, instance:tests.EndToEnd@458c1321]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-2@1616855509</td>   <td></td> </tr>
<tr bgcolor="9b7070">  <td>19/01/22 19:13:36</td>   <td>-113334</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;NewAvonWrapper.beforeMethod()[pri:0, instance:tests.EndToEnd@1d29cf23]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@1952544560</td>   <td></td> </tr>
<tr bgcolor="9b7070">  <td>19/01/22 19:13:36</td>   <td>-113334</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;NewAvonWrapper.beforeMethod()[pri:0, instance:tests.EndToEnd@458c1321]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>TestNG-tests-2@1616855509</td>   <td></td> </tr>
<tr bgcolor="9b7070">  <td>19/01/22 19:13:34</td>   <td>-115344</td> <td title="&gt;&gt;NewAvonWrapper.beforeSuite()[pri:0, instance:tests.EndToEnd@458c1321]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@141289226</td>   <td></td> </tr>
<tr bgcolor="9b7070">  <td>19/01/22 19:13:36</td>   <td>-113780</td> <td>&nbsp;</td><td title="&gt;&gt;NewAvonWrapper.beforeTest()[pri:0, instance:tests.EndToEnd@1d29cf23]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-1@1952544560</td>   <td></td> </tr>
<tr bgcolor="9b7070">  <td>19/01/22 19:13:36</td>   <td>-113779</td> <td>&nbsp;</td><td title="&gt;&gt;NewAvonWrapper.beforeTest()[pri:0, instance:tests.EndToEnd@458c1321]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-2@1616855509</td>   <td></td> </tr>
<tr bgcolor="a2a371">  <td>19/01/22 19:13:36</td>   <td>-113334</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EndToEnd.brouchreValidation()[pri:0, instance:tests.EndToEnd@1d29cf23]">brouchreValidation</td> 
  <td>TestNG-tests-1@1952544560</td>   <td></td> </tr>
<tr bgcolor="a2a371">  <td>19/01/22 19:13:36</td>   <td>-113334</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EndToEnd.brouchreValidation()[pri:0, instance:tests.EndToEnd@458c1321]">brouchreValidation</td> 
  <td>TestNG-tests-2@1616855509</td>   <td></td> </tr>
<tr bgcolor="a2a371">  <td>19/01/22 19:13:36</td>   <td>-113775</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;EndToEnd.setData(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:tests.EndToEnd@1d29cf23]">&gt;&gt;setData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-1@1952544560</td>   <td></td> </tr>
<tr bgcolor="a2a371">  <td>19/01/22 19:13:36</td>   <td>-113775</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;EndToEnd.setData(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:tests.EndToEnd@458c1321]">&gt;&gt;setData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-2@1616855509</td>   <td></td> </tr>
<tr bgcolor="9b7070">  <td>19/01/22 19:15:31</td>   <td>896</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;NewAvonWrapper.setDataAgain(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:tests.EndToEnd@1d29cf23]">&lt;&lt;setDataAgain</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@1952544560</td>   <td></td> </tr>
<tr bgcolor="9b7070">  <td>19/01/22 19:16:30</td>   <td>60627</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;NewAvonWrapper.setDataAgain(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:tests.EndToEnd@458c1321]">&lt;&lt;setDataAgain</td> 
<td>&nbsp;</td>  <td>TestNG-tests-2@1616855509</td>   <td></td> </tr>
</table>
